@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Red+Hat+Display:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Red Hat Display', sans-serif;
    /* overflow-y: hidden; */
}

nav {
    background: black;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #ffc107 !important;
}

a:active {
    text-decoration: none;
    color: #ffc107;
}

/* .hex{
    background: url("/test/Hexagon.svg") repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 500px;
    z-index: 1;
}
.bg{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, #ffc107 0%,
        #ffc107 100%);
    filter: blur(20px);
    z-index: 0;
} */

.apresentacao {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 76vh;
}

.scrollNow {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 11vh;
}

.skills {
    background: #ffc107;
}

.contact{
    background: #000;
}

.contact div h1 {
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.containerr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerr .hexagono::before {
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.25), transparent, transparent);
    border-radius: 50%;
    transition: 0.5s;
}

.containerr .hexagono:hover::before {
    opacity: 0.8;
    transform: scale(0.8);
}

.containerr .hexagono {
    position: relative;
    width: 200px;
    height: 150px;
    margin: 50px 20px 70px;
}

.containerr .hexagono .forma {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: 0.5s;
}

.containerr .hexagono:hover .forma {
    transform: translateY(-30px);
}

.containerr .hexagono .forma img{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.containerr .hexagono .forma .conteudo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #000, rgba(0, 0, 0, 0.5));
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.containerr .hexagono:hover .forma .conteudo{
    opacity: 1;
}

.seta {
    position: absolute;
    /* padding: 20px; */
    /* box-shadow: 2px -2px 0 1px #ffc107 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px; */
    /* transform: rotate(315deg); */
    color: #ffc107;
    animation: jump 1s infinite alternate;
}

.bder {
    border-top: 2px solid #000 !important;
    border-bottom: 2px solid #000 !important;
}

@keyframes jump {
    from {
        transform: translatey(15px);
    }

    to {
        transform: translatey(0);
    }
}